<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.beecub.wallpaper.slipping"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-feature android:name="android.software.live_wallpaper" />

    <application 
	    android:icon="@drawable/ic_launcher" 
	    android:label="@string/app_name">
        
        <service
            android:label="@string/app_name"
            android:name="SlippingWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/console" />
        </service>
        <activity
            android:label="@string/settings"
            android:name="SlippingWallpaperSettings"
            android:theme="@android:style/Theme.Light"
            android:exported="true">
        </activity>

    </application>
    
</manifest>